.cityHeader
  position: relative
  height: 3rem
  line-height: 3rem
  text-align: center
  font-size: 1rem
  color: #000
  background: #facb46
  overflow: hidden
  .header-back
    position: absolute
    top: 0
    left: 0
    width: 4rem
    height: 100%
    text-align: center
    font-size: 1rem
    color: #fff
  .icon-arrow_lift
    position absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
.search-wrapper
  position absolute
  left: 0
  right: 0
  top: 3rem
  bottom: 0
.search
  padding: 0 .4rem
  height: 3rem
  line-height 3rem
  background: #facb46
  .search-input
    box-sizing: border-box
    padding: 0 .1rem
    border-radius: .2rem
    width: 100%
    height: 2rem
    line-height: 2rem
    text-align: center
    color: #666
.search-content
  z-index: 1
  position: absolute
  left: 0
  right: 0
  top: 3rem
  bottom: 0
  height: 100%
  background: #eee
  overflow: hidden
  .search-item
    padding-left: .2rem
    height: 2rem
    line-height: 2rem
    color: #666
    background: #fff
.list
  position: absolute
  left: 0
  right: 0
  top: 6rem
  bottom: 0
  overflow: hidden
  .title
    padding-left: .2rem
    height: 1.4rem
    line-height: 1.4rem
    font-size: .8rem
    color: #666
    background: #eee
  .button-list
    padding: .4rem 1rem .4rem .4rem
    overflow: hidden // 子级浮动, 父级触发 BLC, 不与 float 重叠
    .button-wrapper
      float: left
      width: 33.33%
      .button
        margin: .2rem
        padding: .2rem 0
        border: .1rem solid #ccc
        border-radius: .2rem
        text-align: center
  .item-list
    .item
      padding-left: .2rem
      line-height: 1.76rem
.alphabet
  display: flex
  flex-direction: column
  justify-content: center
  position: absolute
  top: 2rem
  right: 0
  bottom: 0
  .item
    width: 1.5rem
    height: 1.5rem
    line-height: 1.5rem
    text-align: center
    color: #facb46