.login-page
  .login-header
    position: relative
    height: auto
    margin: 2.5rem auto
  .form
    display: flex
    align-items: center
    margin: .8rem 0
  .error
    margin: .5rem 0
    padding: .6rem
    border: .0625rem solid #f5d8a7
    // border-radius: .125rem
    font-size: .5rem
    background: #fff6db
  .input
    margin: .625rem 0
    padding: 0 0 0 .5rem
    border: .0625rem solid #ccc
    width: 17.4rem
    height: 2rem
    // line-height: 2rem
  .password
    margin: .625rem 0
  .foot
    margin: .625rem 0
  .btn-login
    margin-top: .625rem
    padding: .75rem .9375rem
    border: none
    color: #fff
    background-color: #2db3a6
  .link
    float: right
    text-decoration: none
    color: #00f

