.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #b2b2b2;
  background-color: #fff;
  z-index: 99;
  .title {
    text-align: center;
    line-height: 73px;
    font-size: 17px;
    color: #2f2f2f;
  }
  .back-icon {
    position: absolute;
    top: 23px;
    left: 10px;
    width: 27px;
    height: 27px;
    background-image: url('./img/back.png');
    background-size: cover;
  }
}
