.detail {
  .mask {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .tab-bar {
    display: flex;
    margin-top: 64px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 16px;
    .tab-item {
      flex: 1;
      position: relative;
      // </ 垂直居中
      height: 45px;
      line-height: 45px;
      // 垂直居中 />
      text-align: center;
      text-decoration: none;
      color: #666;
      &.active { // 点菜底部小黄线
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          // </ 水平居中
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          // 水平居中 />
          width: 60px;
          height: 4px;
          background-color: #ffd161;
        }
      }
    }
  }
}
