.category-content {
  padding-bottom: .625rem;
  .category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    width: 25%;
    padding-top: .875rem;
    font-size: .8125rem;
  }
  .item-icon {
    width: 2.9375rem;
  }
  .item-name {
    margin-top: .875rem;
  }
}
